@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --primary-color: #6366f1;
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  color: #2c3e50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button > svg:hover {
  opacity: 70%;
}